.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
storage/backups
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
pm-ariel.code-workspace
prender.bat

